<body>
  <div class="back-button">
    <a href="/" class="back">< Back</a>
  </div>

  <div class="logo2">
    <img src="/images/LogoSVG.svg">
  </div>

  <div class="login-page">
    <div class="form">
      <form class="login" role="form" id="reg-form">
        <input type="text" placeholder="Username" id="inputUsername">
        <input type="text" placeholder="Password" id="inputPassword">
        <button type="submit">Create Account</button>
        <p class="message">Already a member? <a href="/users/login">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
